.form__item--invalid textarea,
.form__item--invalid input {
    background: #ffffff url("../img/error.svg") 97% 11px no-repeat;
    border-color: #f84646 !important;
}

.pagination-item a.disabled {
    cursor: not-allowed;
    user-select: none;
}

.pagination-item a.disabled:hover {
    color: #879296;
}

.lots__list {
    justify-content: flex-start;
}

.lots__list .lots__item:not(:nth-child(3n)) {
    margin-right: 30px;
}
